<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOwkP05lmScuFt-uyVV0pAlB_YNVKx7gI</string>
	<key>GCM_SENDER_ID</key>
	<string>567130767561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.knocksense</string>
	<key>PROJECT_ID</key>
	<string>knocksense-21180</string>
	<key>STORAGE_BUCKET</key>
	<string>knocksense-21180.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567130767561:ios:af05f2e26e8a66ed16cd18</string>
	<key>DATABASE_URL</key>
	<string>https://knocksense-21180-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>